# vim: set ft=zsh:

export EDITOR=vim

export LESS="-XF"
export SIMULATOR_PATH=$HOME/Library/Developer/CoreSimulator/Devices

if [ -d "$HOME/.exenv/" ]; then
  export PATH="$HOME/.exenv/bin:$PATH"
  eval "$(exenv init -)"
fi

if [ -e "/opt/bin" ]; then
  export PATH="$PATH:/opt/bin"
fi

if [ -d "$HOME/bin" ]; then
  export PATH="$PATH:$HOME/bin/"
fi
