[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
  cl = !git log --format='format: * %s (%an: %ad) [%h]' --no-merges
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	editor = vim
[merge]
	tool = vimdiff
[user]
	name = Patrick Morgan
	email = patrick@patrick-morgan.net
[github]
	user = codeprimate
[branch]
	autosetupmerge = true
[grep]
  patternType = perl
[push]
	default = upstream
